<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Pagamentos</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>CPF/CNPJ</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Ativo</th>
            <th>Saldo/Débito</th>
            <th></th>
            <%= link_to "Novo pagamento", new_payment_path, class: "btn btn-primary mt-3" %>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
            <tr>
              <td><%= payment.person.national_id %></td>
              <td><%= payment.person.name %></td>
              <td><%= payment.person.phone_number %></td>
              <td class="text-center align-middle">
                <% if payment.person.active %>
                  <span class="text-success">
                    <i class="bi bi-check-circle"></i>
                  </span>
                <% else %>
                  <span class="text-danger">
                    <i class="bi bi-x-circle"></i>
                  </span>
                <% end %>
              </td>
              <td class="text-end align-middle">
                <%= payment.person.balance %>
              </td>
              <td class="text-center align-middle">
                <%= link_to "Visualizar pagamento", payment %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
