<p style="color: green"><%= notice %></p>

<%= render @payment %>

<div>
  <%= link_to "Editar pagamento", edit_payment_path(@payment) %> |
  <%= link_to "Voltar para pagamentos", payments_path %>

  <%= button_to "Excluir pagamento", @payment, method: :delete %>
</div>
